.container {
    position: relative;
    text-align: center;
    margin: 2% auto;
}

.container-fluid {
    width: 40%;
    height: auto;
}

.form-group {
    display: block;
    margin-bottom: 1rem;
}

#btn-wrapper {
    display: block;
    margin-bottom: 1rem;
}

.col {
    width: 20%;
    padding-bottom: 20%;
    position: relative;
}

.img-wrapper {
    position: absolute;
    height: 80%;
    width: 80%;
}