.container {
    position: relative;
    text-align: center;
    margin: 2% auto;
}

.textarea {
    display: block;
    width: 80%;
    height: auto;
}

.container-fluid {
    width: 50%;
    height: auto;
}

.col {
    width: 20%;
    padding-bottom: 20%;
    position: relative;
}

.img-wrapper {
    position: absolute;
    height: 80%;
    width: 80%;
}